@use "/src-page/style/mixin/index" as m;

#message-assistant-app > .TermList {
  position: absolute;
  @include m.flex();

  > ul {
	@include m.flex(row, wrap);
	gap: 6px;
	padding: 0 10px;
	border-radius: var(--radius-md);
	background-color: rgb(from var(--color-surface) r g b / 80%);
	backdrop-filter: blur(3px);
	box-shadow: var(--shadow-md);
	border: solid 1px transparent;
	outline: none;

	&:focus {
	  border-color: var(--color-border-active);
	}

	> li {
	  border-radius: var(--radius-md);
	  transition: all 0.2s ease;
	  word-wrap: break-word;
	  word-break: break-word;
	  overflow: auto;
	  font-size: 12px;
	  line-height: 20px;
	  outline: none;

	  &:not(.term-header) {
		padding: 0 2px;
		border: 1px solid transparent;
		cursor: pointer;

		&:hover {
		  background-color: rgb(from var(--color-surface) r g b / 50%);
		  border-color: var(--color-border);
		  box-shadow: var(--shadow-sm);
		}
	  }

	  &.term-header {
		font-weight: bold;
		user-select: none;
	  }
	}
  }
}
